body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 30px;
}

.icons button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.icons button:hover{
    color: blue;
}

table{
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 650px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr{
        display: none;
    }
    
    tr {
        margin-bottom: 1rem; 
        border-bottom: 2px solid #ddd; 
        padding: 1rem; 
        background-color: #f9f9f9; 
    }

    td{
        display: grid;
        gap: 7.5rem;
        grid-template-columns: 15ch auto;
        padding: .5rem 1rem;
    }

    td:first-child{
        padding-top: 2rem;
    }

    td:last-child{
        padding-top: 2rem;
    }

    td::before{
        content: attr(data-cell) " ";
        font-weight: 700;
        text-transform: capitalize;
    }

    div.dt-container.dt-empty-footer tbody>tr:last-child>* {
        border-bottom: none;
    }

    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
        text-align: left;
    }
    
    th:first-child, td:first-child {
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            padding-left: 0; 
    }
        
    td:first-child input[type="checkbox"] {
            margin-left: -7.4rem; 
    }
}

@media (max-width: 425px) {
    td{
        gap: 3.5rem;
    }   

    td:first-child input[type="checkbox"] {
        margin-left: -3.4rem; 
    }
}

@media (max-width: 320px){
    td{
        gap: 0.9rem;
    }
}